@value cameraMainPadding: 20px;
@value cameraMainSidebarWidth: 400px;

:local(.root) {
  display: flex;
  flex-direction: column;
}

:local(.dynamicland) {
  font: 20px/1.2 Helvetica;
  background: yellow;
  color: black;
  padding: 10px;
}

:local(.dynamicland) a,
:local(.dynamicland) a:hover,
:local(.dynamicland) a:visited {
  color: blue;
}

:local(.appRoot) {
  display: flex;
  padding: 10px;
}

:local(.video) {
  flex: 1 0 auto;
}

:local(.note) {
  font-size: 0.9em;
}

:local(.sidebar) {
  flex: 1 1 cameraMainSidebarWidth;
  color: white;
  font: 18px sans-serif;
  font-weight: 300;
}

:local(.sidebar) h1,
:local(.sidebar) h2,
:local(.sidebar) h3,
:local(.sidebar) h4,
:local(.sidebar) h5,
:local(.sidebar) h6 {
  margin: 10px 0;
}

:local(.sidebar) a {
  color: white;
}

:local(.sidebar) button {
  font-size: 15px;
  margin: 5px 0;
  padding: 5px;
}

:local(.sidebarSection) {
  position: relative;
}

:local(.sidebarSection:not(:last-child)) {
  margin-bottom: 10px;
  word-break: break-all;
  border-bottom: 1px #999 solid;
  padding-bottom: 10px;
}

:local(.sidebar) a,
:local(.sidebar) a:visited {
  color: rgb(43, 156, 212);
}

:local(.sidebar) a:hover {
  color: white;
}

:local(.sidebar) label {
  margin: 0 5px;
}

:local(.sidebarSubSection) {
  position: relative;
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.headerWithOption) {
  display: inline-block;
  margin-right: 20px;
}

:local(.optionWithHeader) {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
}

:local(.create) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

:local(.create) > {
  height: 100%;
}

:local(.create:hover) .dropdownContent > {
  display: block;
}

:local(.dropbtn) {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

:local(.dropdown) {
  position: relative;
  display: inline-block;
}

:local(.dropdown:hover) :local(.dropdownContent) {
  display: block;
}

:local(.dropdownContent) {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

:local(.dropdownContent) a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

:local(.dropdownContent) a:hover {
  background-color: #ddd;
}


:local(.printQueue) {
  border: 1px white solid;
  padding: 5px;
}

:local(.printQueueItem) {
  width: 100%;
}
:local(.printQueueItemContent) {
  width: 75%;
  display: inline-block;
}
:local(.printQueueItemPrinted),
:local(.printQueueItemNotPrinted) {
  margin-bottom: calc(cameraMainPadding / 4);
  cursor: pointer;
}
:local(.printQueueItemPrinted):hover,
:local(.printQueueItemNotPrinted):hover {
  background: #666;
}

:local(.printQueueItemPrinted) :local(.printQueueItemName) {
  text-decoration: line-through;
}

:local(.printQueueItemToggle) {
  visibility: hidden;
  cursor: pointer;
}
:local(.printQueueItem):hover :local(.printQueueItemToggle) {
  visibility: visible;
}
:local(.printQueueItemToggle):hover {
  background: #999;
}

:local(.printQueueDebug) {
  display: inline-block;
  width: 25%;
  text-align: right;
}

:local(.printQueueDebug):hover {
  background: #999;
}


:local(.colorListItem) {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
:local(.colorListItem):hover {
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3) inset;
}
:local(.colorListItemSelected) {
  box-shadow: 0 0 0 3px white;
}
:local(.colorListItemSelected):hover {
  box-shadow: 0 0 0 3px white, 0 0 0 20px rgba(255, 255, 255, 0.3) inset;
}

:local(.spaceUrl) {
  margin-bottom: calc(cameraMainPadding / 4);
  font-size: 0.9em;
}

:local(.spaceNameInput) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.editorAnchor) {
  font-size: 20px;
  margin-bottom: 10px;
}


